<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="SelectedPhotoAccess">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="PhotoAndVideoPolicy" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hotpot0">
        <activity
            android:name=".section1.views.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".section1.views.StartupActivity" />
        <activity android:name=".section1.views.UserSignupActivity" />
        <activity android:name=".section1.views.AdminLoginActivity" />
        <activity android:name=".section2.views.HomeActivity" />
        <activity android:name=".section2.views.CreateEventActivity" />
        <activity android:name=".section2.views.PreviewActivity" />
        <activity android:name=".section3.views.AdminHomeActivity" />
        <activity android:name=".section3.views.AdminSearchActivity" />
        <activity android:name=".section3.views.ManageEventActivity" />
        <activity android:name=".section3.views.AdminImageActivity" />
        <activity android:name=".section3.views.ManageImageActivity" />
        <activity android:name=".section3.views.AdminSettingsActivity" />
        <activity android:name=".section3.views.AdminNotificationsActivity" />
        <activity android:name=".section2.views.ProfileActivity"/>
        <activity android:name=".section2.views.NotificationsActivity"/>
        <activity android:name=".section2.views.SearchActivity"/>
        <activity android:name=".section2.views.EventInitialActivity"/>
        <activity android:name=".section2.views.OrganizerEventActivity" />
        <activity android:name=".section2.views.EventSampledActivity" />
        <activity android:name=".section2.views.QRActivity"
            android:exported="false"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDyXdScb2_tQMtxDc_JA43HcoqCxAA_Y7k"/>
    </application>

</manifest>